---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Projections from "../components/Projections.astro";
import Titles from "../components/Titles.astro";
import Expereinces from "../components/Expereinces.astro";
import Corevalues from "../components/CoreValues.astro";
---

<Layout>
  <Hero />
  <section class="whatToExpect">
    <img src="../images/meeting_man_front.jpg" alt="">
    <article>
      <Titles>we'll work with you</Titles>
      <h1>What To Expect</h1>
      <p>Our collaboration is built on transparency, efficiency, and measurable results. Together, we create strategies tailored to your unique needs and goals.</p>
      <ul>
        <li>
          Collaborate to build actionable strategies that drive sustainable growth and deliver tangible outcomes.
        </li>
        <li>
          Identify opportunities to optimize processes and implement impactful solutions with measurable results.
        </li>
      </ul>
    </article>
  </section>
  <div class="componentSections">
    <Projections/>
    <Expereinces/>
    <Corevalues/>
  </div>
  <section class="contact">
    <article>
    <Titles>Process</Titles>
    <h1>Contact Us. It's Easy.</h1>
    <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative.</p>
    <ul>
      <li>
        <p>Call Today</p>
        <h3>+1 800 100 900</h3>
      </li>
      <li>
        <p>Monday To Friday</p>
        <h3>9AM-5PM</h3>
      </li>
      <li>
        <p>USA Office</p>
        <h3>195 Devonshire St Boston, MA 02110</h3>
      </li>
    </ul>
    </article>
    <div>
      
    </div>
  </section>
</Layout>

<style>
  section{
    padding-inline: var(--content-width);
    padding-top:var(--content-height);
  }

  .whatToExpect{
    display:inline-flex;
    align-items: flex-start;
    gap:82px;
    padding-bottom:var(--content-height);

    img{
      border-radius: 25px;
    }

    article{
      display:flex;
      flex-direction: column;
      align-items: flex-start;
      gap:14px;
      ul {
      display: grid;
      gap: 1rem;
      padding-left: 0;
      }
      
      li{
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1rem;
        font-size: 1rem;
        color: #595566;
      }
      li:before {
      content: '';
      width: 1.6rem;
      height:1lh;
      background: var(--checkmark-icon) 50% 50% / 100% auto no-repeat;
      background-position:50%;
      background-size:100% auto;
      }
    }
  }

  .componentSections{
    background-color: var(--secondary01-color);
  }

  .contact{
    display:inline-flex;
    align-items: flex-start;
    gap:69px;

    article{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 407px;
      gap:6px;
    }

    ul{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap:56px;
      li{
        list-style: none;
      }
    }
  }

</style>
