---
const {variant, size}=Astro.props;
---

<button data-size={size} data-variant={variant}><slot/></button>

<style>
    button{
        cursor:pointer;
        color: var(--primary03-color);
        background-color:var(--primary01-color);
        border-radius: 42px;
        font-weight: 600;
        gap:10px;
        transition: linear 0.3s;

        &:hover{
            background-color: var(--tertiary02-color);
        }
    }

    [data-variant="secondary"]{
        color:var(--secondary02-color);
        background-color:var(--primary03-color);

        &:hover{
            color:var(--primary03-color);
            background-color: var(--secondary02-color);
        }
    }

    [data-variant="tertiary"]{
        background-color:var(--secondary02-color);

        &:hover{
            color:var(--primary03-color);
            background-color: var(--secondary02-color);
        }
    }

    [data-size="xlarge"] {
        width:245px;
        height:59px;
        padding:15px 56px;
    }

    [data-size="large"]{
        width:189px;
        height:61px;
        padding:16px 31px;
    }

    [date-size="medium"]{
        width:5rem;
        height:10px;
        border-radius: 55px;
        padding:15px 34px;
    }

    [date-size="small"]{
        width:74px;
        height:36px;
        border-radius: 20px;
        padding:4px 16px;
    }

</style>