---

---

<section>
    <h2>AskExperts</h2>
    <hr>
    <p>©2022 Consultalk. All rights reserved | Terms of Service | Privacy Policy</p>
</section>

<style>
    section{
        margin-top:var(--content-height);
        display:flex;
        padding:46px 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:10px;
        background-color: var(--primary03-color);

        h2,p{
            color:var(--secondary01-color);
        }

        hr{
            border: 1px solid #707070;
            width: 1200px;
            height:1px;
        }
    }
</style>