---
import Buttons from "./Buttons.astro"
---
<section>
    <a href="/">AskExperts</a>
    <nav>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/casestudy">Case Study</a></li>
        <li><a href="/team">Team</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
    <Buttons action="popup" size="small">Login</Buttons>
</section>
<div id="popup" popover>
    <h1>Dashboard Login</h1>
    <div>
        <label for="input">Email address</label>
        <input type="text">
        <label for="input">Password</label>
        <input type="text">
    </div>
    <Buttons action="popup" size="xlarge">Go to dashboard</Buttons>
  </div>

    <style>
        section{
            display:flex;
            padding:38px;
            justify-content: space-between;
            padding-inline:var(--content-width);
            align-items: flex-start;
            background: rgba(27, 27, 27, 0.91);
            backdrop-filter: blur(10.5px);
            align-items: center;
            a:not(nav a) {
            font-size: var(--md-font-size);
            }      
             a{
                color:var(--secondary01-color);
                transition: linear 0.2s;

                &:hover{
                color:var(--tertiary01-color);
            }
        }

            ul{
                display:flex;
                justify-content: center;
                gap:30px;

                li{
                    list-style: none;
                }
            }
        }

        ::backdrop {
        background: #0003;
        backdrop-filter: blur(4px);
        }

        [popover] {
        opacity: 0;
        translate: 0 -100%;

        transition: 0.6s;
        transition-property: opacity, display, overlay, translate;
        transition-behavior: allow-discrete;
        &:popover-open {
            opacity: 1;
            translate: 0 0;

            @starting-style {
            opacity: 0;
            translate: 0 100%;
            }
        }

        }
        #popup{
            background-color: var(--primary03-color);
            display: flex;
            padding: 40px 60px 60px 60px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 30px;
            h1, label{
                color:var(--secondary02-color);
            }
            div{
                display:flex;
                flex-direction: column;
                label{
                    padding-top:1.5rem;
                }
                input{
                    width:399px;
                    background-color: var(--secondary02-color);
                    padding:20px;
                    border-radius: 4px;
                    border: 1px solid #E3E3E3;
                    margin-bottom:1.5rem;
                }
            }
        }
    </style>