---
import Buttons from "./Buttons.astro"
---
<section>
    <a href="/">AskExperts</a>
    <nav>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/casestudy">Case Study</a></li>
        <li><a href="/team">Team</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
    <Buttons popovertarget="popup" size="small">Login</Buttons>
</section>

    <style>
        section{
            display:flex;
            padding:38px;
            justify-content: space-between;
            align-items: flex-start;
            background: rgba(27, 27, 27, 0.91);
            backdrop-filter: blur(10.5px);
            padding-inline:var(--content-width);
            align-items: center;
            a:not(nav a) {
            font-size: var(--md-font-size);
            }      
             a{
                color:var(--secondary01-color);
                transition: linear 0.2s;

                &:hover{
                color:var(--tertiary01-color);
            }
        }

            ul{
                display:flex;
                justify-content: center;
                gap:30px;

                li{
                    list-style: none;
                }
            }
        }

        ::backdrop{
        background:#0003;
        backdrop-filter:blur(4px);
        }
    </style>