---
import Titles from "./Titles.astro"
---
<div>
    <Titles><slot name="category"/></Titles>
    <slot name="title"/>
</div>

<style>
    div{
        border-radius: 29px;
        background: rgba(255, 255, 255, 0.85);
        backdrop-filter: blur(5.5px);   
        max-width:600px;
        
        display: inline-flex;
        padding: 48px 60px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
</style>