---
import Buttons from "./Buttons.astro";
//@ts-nocheck
const servicesData = await fetch(
  "https://frontend-design-theme.netlify.app/api/services"
).then((response) => response.json());

---

<ul>
  {
    servicesData.services.map((service) => (
      <li>
        <h2>{service.title}</h2>
        <p>{service.description}</p>
        <div>
          <Buttons variant="secondary" size="large">{service.buttonText}</>
        </div>
      </li>
    ))
  }
</ul>
<style>

  ul{
    position:relative;
    top:-7rem;
    padding-inline: var(--content-width);
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px; 
  }
  li{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    flex: 1 0 0;
    padding: 46px;
    border-radius: 20px;

    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(38, 38, 38, 0.90);
    backdrop-filter: blur(16px);
    >p+*{
      padding-top:1.5rem;
    }
    h2, p{
      color:var(--secondary02-color);
    }
  }
</style>